body {
  margin: 0;
  background-color: aliceblue;
  height: calc(100vh - 30px);
  font-family: 'FreeMono', monospace;
  font-weight: normal;
}

.title {
  text-align: center;
  font-family: 'FreeMono', monospace;
  font-weight: 500px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  transition: .3s;
  font-weight: 500px;
  list-style-type: none;
  outline: none;
  padding: 10px;
}

.link:hover{
  background-color: rgb(211, 209, 209);
  transform: translate(.5px,1px);
  cursor: pointer;
}

.active {
  background-color: rgb(211, 209, 209);
  list-style-type: none; 
}

.sidebar {
  background-color: #e2e2e2!important;
  display: inline-block;
  grid-area: sidebar;
  width: 140px;
}

.menu {
  display: flex;
  flex-direction: column;
  border: transparent;
  list-style-type: none;
  outline: none;
}

.content {
  grid-area: content;
  display: inline-block;
}

.wrap {
  display: grid;
  position: relative;
  padding-bottom: 50px; 
  grid-template-areas: 'sidebar . content';
  margin: auto;
  width: 700px;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  text-align: right;
  margin: 0 0 51px -3px;
  width: 20%;
}

.img {
  float: right;
  width: 70px;
}

.text {
  margin: 0 auto;
  font-family: 'FreeMono', monospace;
  font-weight: normal;
  font-size: 10px;
}

@media (max-width: 668px) {
  .wrap {
    flex-direction: column;
    width: 500px
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar {
    width: 500px;
    margin: auto;
    padding: 0;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .content {
    width: 500px;
    margin: auto;
  }

  .link {
    padding-left: 10px;
  }

  .footer{
    display: none;
  }
}

@media (max-width: 505px) {
  .wrap,
  .sidebar,
  .content {
    width: 400px;
  }
}

@media (max-width: 410px) {
  .wrap,
  .sidebar,
  .content {
    width: 300px;
  }
}
