.itemNumber {
    color: #888;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
  }
  
  .filters {
    border-radius: 4px;
    position: absolute;
    top: -20%;
    right: 5px;
  }
  
  .filter {
    font-size: 10px;
  }
  
  footer {
    position: relative;
  }